body {
  background-image: url(pexels-tirachard-kumtanom-574283.jpeg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-shadow: 2px 2px 4px rgb(170, 170, 170);
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  font-size: 5em;
}
h2 {
  font-weight: 100;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px rgb(170, 170, 170);
}
.buttons {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
#rock,
#paper,
#scissors {
  transition: 0.2s;
  font-family: "Times New Roman", Times, serif;
  height: 8vh;
  width: 15vw;
  margin: 0 1vw;
  font-size: 2em;
  border: 3px solid;
  border-radius: 20px;
  background-color: rgb(237, 234, 226);
  box-shadow: 2px 2px 4px rgb(170, 170, 170);
}
#rock:hover,
#paper:hover,
#scissors:hover {
  transition: 0.2s;
  color: white;
  background-color: black;
}
#result {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px rgb(205, 205, 205);
}
#score {
  height: 10vh;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px rgb(205, 205, 205);
}
#winner {
  color: rgb(255, 255, 255);
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-size: 3.5em;
  text-shadow: 4px 4px 2px rgb(177, 177, 177);
}
.container {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
.again {
  transition: 0.2s;
  font-family: "Times New Roman", Times, serif;
  height: 7vh;
  width: 10vw;
  margin: 0 1vw;
  font-size: 1.5em;
  border: 3px solid;
  border-radius: 20px;
  background-color: rgb(237, 234, 226);
  box-shadow: 2px 2px 4px rgb(170, 170, 170);
}
.again:hover {
  transition: 0.2s;
  text-shadow: 2px 2px 4px rgba(170, 170, 170, 0);
  background-color: black;
  color: white;
}
@media screen and (max-width: 754px) {
  body {
    background-size: cover;
    height: 100vh;
  }
  h1 {
    font-size: 3em;
  }
  #winner {
    font-size: 2.5em;
    text-align: center;
  }
  #rock,
  #paper,
  #scissors {
    width: 50vw;
  }
  .again {
    width: 50vw;
  }
}
